<section class="container-fluid min-vh-100 p-5" id="proyectos">
    <h2 class="fs-1 text-center m-5 mb-1 fw-bold">Proyectos</h2>
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-5 shadow-lg"
          style="background-image: url(./assets/img/proyecto-ecologica.jpg);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow"><a class="text-reset text-decoration-none"
                href="https://www.behance.net/gallery/124206521/Campana-de-Separacion-de-Residuos-en-La-Granja">Diseño
                de marca para campaña</a></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="./assets/img/logo-ai.jpg" alt="Illustrator" width="32" height="32"
                  class="rounded-circle border border-white mx-1">
                <img src="./assets/img/logo-ps.jpg" alt="Photoshop" width="32" height="32"
                  Class="rounded-circle border border-white mx-1">
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-calendar me-2"></i>
                <small>2021</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-5 shadow-lg"
          style="background-image: url(./assets/img/proyecto-sobreruedas.jpg);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow"><a class="text-reset text-decoration-none"
                href="https://www.behance.net/gallery/99085311/Diseno-de-tapa-de-tesina-de-Trabajo-Social-2019">Diseño
                de tapa para tesis de grado</a></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="./assets/img/logo-ai.jpg" alt="Illustrator" width="32" height="32"
                  class="rounded-circle border border-white mx-1">
                <img src="./assets/img/logo-ps.jpg" alt="Photoshop" width="32" height="32"
                  Class="rounded-circle border border-white mx-1">
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-calendar me-2"></i>
                <small>2019</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-5 shadow-lg"
          style="background-image: url(#);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow"><a class="text-reset text-decoration-none"
                href="index.html">Diseño web de Portfolio Personal</a></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="./assets/img/logo-html.jpg" alt="Illustrator" width="32" height="32"
                  class="rounded-circle border border-white mx-1">
                <img src="./assets/img/logo-css.jpg" alt="Photoshop" width="32" height="32"
                  Class="rounded-circle border border-white mx-1">
                <img src="./assets/img/logo-javascript.jpg" alt="Photoshop" width="32" height="32"
                  Class="rounded-circle border border-white mx-1">
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-calendar me-2"></i>
                <small>2023</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>