<section class="container-fluid min-vh-100 mb-5" id="educacion">
    <h2 class="fs-1 text-center mt-5 fw-bold">Educación</h2>
    <div class="container-fluid text-center mb-5">
      <button type="button" class="btn btn-outline-info" routerLink="/nuevaedu" *ngIf="isLogged">Agregar educacion</button>
    </div>

    <div class="container" *ngFor="let Educacion of educacion">
      <div class="card mb-4 p-0 shadow">
        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-md-3">
            <img src="{{Educacion.imgE}}" class="img-fluid img-edu d-none d-md-block mx-auto" alt="">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title pb-2 fs-4">{{Educacion.nombreE}}
                <button class="btn btn-outline-info ms-3 px-1 py-0" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged" >
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-outline-danger ms-2 px-1 py-0 text-end" (click)="delete(Educacion.id)" *ngIf="isLogged">
                  <i class="fa-solid fa-circle-xmark"></i>
                </button>
              </h5>
              <p class="h5 card-text fw-bold pb-2 fs-2">{{Educacion.descripcionE}}</p>
              <p class="card-text lead fst-italic fs-5">2022 - 2023</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>