<section class="container-fluid min-vh-100 mb-5" id="educacion">
    <h2 class="fs-1 text-center m-5 mb-5 fw-bold">Educación</h2>
    <div class="container">

      <div class="card mb-4 p-0 shadow">
        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-md-3">
            <img src="./assets/img/argprograma.jpg" class="img-fluid img-edu d-none d-md-block mx-auto" alt="">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title pb-2 fs-4">Argentina Programa</h5>
              <p class="h5 card-text fw-bold pb-2 fs-2">Desarrollador Web Full Stack Junior</p>
              <p class="card-text lead fst-italic fs-5">2022 - 2023</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4 p-0 shadow">
        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-md-3">
            <img src="./assets/img/mmlogo.jpg" class="img-fluid img-edu d-none d-md-block mx-auto" alt="">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title pb-2 fs-4">Fundación Universitaria Mariano Moreno</h5>
              <p class="h5 card-text fw-bold pb-2 fs-2">Adobe Illustrator y Photoshop</p>
              <p class="card-text lead fst-italic fs-5">2018</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4 p-0 shadow">
        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-md-3">
            <img src="./assets/img/fcclogo.jpg" class="img-fluid img-edu d-none d-md-block mx-auto" alt="">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title pb-2 fs-4">Facultad de Ciencias de la Comunicación</h5>
              <p class="h5 card-text fw-bold pb-2 fs-2">Licenciatura en Comunicación Social</p>
              <p class="card-text lead fst-italic fs-5">2015 - en curso</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4 p-0 shadow">
        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-md-3">
            <img src="./assets/img/escmb.jpg" class="img-fluid img-edu d-none d-md-block mx-auto" alt="">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title pb-2 fs-4">Escuela Superior de Comercio Manuel Belgrano</h5>
              <p class="h5 card-text fw-bold pb-2 fs-2">Bachiller orientado en Humanidades y Ciencias Sociales y Técnico
                Básico en Relaciones Humanas y Comunicación</p>
              <p class="card-text lead fst-italic fs-5">2007-2014</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>