<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <div class="navbar-brand">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
          <img src="assets/img/argentinaprograma.png" alt="Argentina Programa" height="80em" width="auto">
        </a>
        <a href="index.html">
          <img src="assets/img/jnla.png" alt="Jonathan Nahuel Ledesma Arce Logo" height="80em" width="auto">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ps-5" id="navbarNav">
        <ul class="navbar-nav fs-5 d-flex align-items-stretch">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Educación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
        </ul>
      </div>
    </div>
    <app-redes></app-redes>
  </nav>