<div class="container-fluid min-vh-100 bg-dark text-light p-5" *ngIf="expLab">
    <div class="container bg-dark text-white">
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group py-2 text-center">
                        <label for="nombreExp">Nombre de la empresa</label>
                        <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="expLab.nombreExp" required>
                    </div>
                    <div class="form-group py-2 text-center">
                        <label for="trabajoExp">Trabajo realizado</label>
                        <input type="text" class="form-control" id="trabajoExp" name="trabajoExp" [(ngModel)]="expLab.trabajoExp" required>
                    </div>
                    <div class="form-group py-2 text-center">
                        <label for="descripcionExp">Descripcion del trabajo</label>
                        <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="expLab.descripcionExp" required>
                    </div>
                    <div class="form-group py-2 text-center">
                        <label for="tiempoExp">Tiempo trabajado</label>
                        <input type="text" class="form-control" id="tiempoExp" name="tiempoExp" [(ngModel)]="expLab.tiempoExp" required>
                    </div>
                    <div class="form-group py-2 text-center">
                        <label for="imgExp">URL del trabajo</label>
                        <input type="text" class="form-control" id="descripcionExp" name="imgExp" [(ngModel)]="expLab.imgExp" required>
                    </div>
                    <button class="btn btn-outline-primary">Editar experiencia</button>
                </form>
            </div>
        </div>
    </div>
    </div>