<section class="container-fluid min-vh-100 bg-dark text-light p-3" id="experiencia">
    <h2 class="fs-1 text-center m-5 mb-1 fw-bold">Experiencia</h2>
    <div class="row ms-lg-5 justify-content-center">
      <div class="timeline col-1">
        <i class="flechita fa-solid fa-circle-down text-primary fs-2"></i>
        <div class="linea bg-primary"> </div>
      </div>

      <div class="col-7 col-md-5 col-lg-6">
        <div class="content-area ms-3 my-3 pb-4">
          <div class="date lead fst-italic text-primary">2015 - actualidad</div>
          <h4 class="p-0 m-0 fw-bold">Tulipán Flores</h4>
          <div>
            <a href="https://www.instagram.com/tulipanfloresok">
              <img src="./assets/img/tulipan.png" alt="Tulipán Flores Logo" class="img-area my-3" height="100px" width="auto">
            </a>
          </div>
          <h5 class="fw-bold m-0">Dueño</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur deserunt nobis assumenda quis.
            Temporibus est odio voluptates enim ratione dicta, adipisci voluptatem tempora praesentium laborum alias, ad
            amet sint.</p>
        </div>

        <div class="content-area ms-3 my-3 pb-4">
          <div class="date lead fst-italic text-primary">2022 - Actualidad</div>
          <h4 class="p-0 m-0 fw-bold">Radio Gigante</h4>
          <div>
            <img src="./assets/img/radiogigante.png" alt="Bullanga Milanga Logo" class="img-area my-3" height="100px"
              width="auto">
          </div>
          <h5 class="fw-bold m-0">Operador de Radio</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur deserunt nobis assumenda quis.
            Temporibus est odio voluptates enim ratione dicta, adipisci voluptatem tempora praesentium laborum alias, ad
            amet sint.</p>
        </div>

        <div class="content-area ms-3 my-3 pb-4">
          <div class="date lead fst-italic text-primary">2020 - 2022</div>
          <h4 class="p-0 m-0 fw-bold">Bullanga Milanga</h4>
          <div>
            <img src="./assets/img/bullanga.png" alt="Bullanga Milanga Logo" class="img-area my-3" height="100px" width="auto">
          </div>
          <h5 class="fw-bold m-0">Encargado de Salón y Atención al Cliente</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur deserunt nobis assumenda quis.
            Temporibus est odio voluptates enim ratione dicta, adipisci voluptatem tempora praesentium laborum alias, ad
            amet sint.</p>
        </div>

        <div class="content-area ms-3 my-3 pb-4">
          <div class="date lead fst-italic text-primary">2015 - 2018</div>
          <h4 class="p-0 m-0 fw-bold">Radio Revés 88.7 FM</h4>
          <div>
            <img src="./assets/img/radioreves.png" alt="Radio Revés Logo" class="img-area my-3" height="100px" width="auto">
          </div>
          <h5 class="fw-bold m-0">Coordinador del Área de Comunicación</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur deserunt nobis assumenda quis.
            Temporibus est odio voluptates enim ratione dicta, adipisci voluptatem tempora praesentium laborum alias, ad
            amet sint.</p>
        </div>

      </div>
    </div>
  </section>