<div class="container-fluid min-vh-100 bg-dark text-light p-5">
<div class="container bg-dark text-white">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="text-end">
                <div class="form-group py-2 text-center">
                    <label for="nombreE">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombreExp" name="nombreExpxp" [(ngModel)]="nombreExp" required>
                </div>
                <div class="form-group py-2 text-center">
                    <label for="trabajoE">Trabajo realizado</label>
                    <input type="text" class="form-control" id="trabajoExp" name="trabajoExp" [(ngModel)]="trabajoExp" required>
                </div>
                <div class="form-group py-2 text-center">
                    <label for="descripcionE">Descripcion del trabajo</label>
                    <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
                </div>
                <div class="form-group py-2 text-center">
                    <label for="tiempoE">Tiempo en el trabajo</label>
                    <input type="text" class="form-control" id="tiempoExp" name="tiempoExp" [(ngModel)]="tiempoExp" required>
                </div>
                <div class="form-group py-2 text-center">
                    <label for="imgE">URL de la imagen</label>
                    <input type="text" class="form-control" id="imgExp" name="imgExp" [(ngModel)]="imgExp" required>
                </div>
                <button class="btn btn-outline-primary">Agregar experiencia</button>
            </form>
        </div>
    </div>
</div>
</div>