<section class="bg-dark text-light py-5" id="habilidades">
    <h2 class="fs-1 text-center mb-0 p-0 fw-bold">Habilidades</h2>
    <div class="container-fluid text-center">
        <button type="button" class="btn btn-outline-info mt-1 mb-0" routerLink="/nuevahab" *ngIf="isLogged">Agregar
            habilidad</button>
    </div>
    <div class="container-fluid row pb-5">
    <div class="text-center col" *ngFor="let Habilidades of habilidades">
        <circle-progress [percent]="(Habilidades.porcentajeSkill)" [title]="(Habilidades.nombreHab)" class="m-2"></circle-progress>
    <div>
        <button class="btn btn-outline-info ms-3 px-1 py-0" routerLink="/edithabilidad/{{Habilidades.id}}" *ngIf="isLogged" >
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="btn btn-outline-danger ms-2 px-1 py-0" (click)="delete(Habilidades.id)" *ngIf="isLogged">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
    </div>
    </div>
    </div>
</section>