<section class="container-fluid bg-dark text-light min-vh-100 p-5" id="habilidades">
    <h2 class="fs-1 text-center m-5 mb-1 fw-bold">Habilidades</h2>
    <h3 class="fw-bold ms-5 mt-5">Lenguaje de programación</h3>
    <div class="row cols-2">
        <div class="col-6 col-m-12 card card-timeline bg-dark border-dark my-5">
            <h2 class="text-center">HTML</h2>
            <ul class="bs4-order-tracking">
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i>
                    </div>
                    Ninguna
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Poca
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Intermedia
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Alta
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Altísima
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-m-12 card card-timeline px-2 bg-dark border-dark my-5">
            <h2 class="text-center">CSS</h2>
            <ul class="bs4-order-tracking">
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i>
                    </div>
                    Ninguna
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Poca
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Intermedia
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Alta
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Altísima
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-m-12 card card-timeline px-2 bg-dark border-dark my-5">
            <h2 class="text-center">JavaScript</h2>
            <ul class="bs4-order-tracking">
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i>
                    </div>
                    Ninguna
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Poca
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Intermedia
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Alta
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Altísima
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-m-12 card card-timeline px-2 bg-dark border-dark my-5">
            <h2 class="text-center">Angular</h2>
            <ul class="bs4-order-tracking">
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i>
                    </div>
                    Ninguna
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Poca
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Intermedia
                </li>
                <li class="stepe">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Alta
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Altísima
                </li>
            </ul>
        </div>
    </div>
    <h3 class="fw-bold ms-5 mt-5">Programación</h3>
    <div class="row cols-2">
        <div class="col-lg-6 col-m-12 card card-timeline px-2 bg-dark border-dark my-5">
            <h2 class="text-center">Adobe Photoshop</h2>
            <ul class="bs4-order-tracking">
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i>
                    </div>
                    Ninguna
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Poca
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Intermedia
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Alta
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Altísima
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-m-12 card card-timeline px-2 bg-dark border-dark my-5">
            <h2 class="text-center">Adobe Illustrator</h2>
            <ul class="bs4-order-tracking">
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i>
                    </div>
                    Ninguna
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Poca
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Intermedia
                </li>
                <li class="step active">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Alta
                </li>
                <li class="step">
                    <div><i class="fa-solid fa-circle"></i></div>
                    Altísima
                </li>
            </ul>
        </div>

    </div>
</section>