.bs4-order-tracking {
    margin-bottom: 30px;
    overflow: hidden;
    color: hsl(240, 0%, 53%);
    padding-left: 0px;
    margin-top: 30px
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
    color: hsl(240, 0%, 53%);
    text-align: center;
}

.bs4-order-tracking li:first-child:before {
    margin-left: 15px !important;
    padding-left: 11px !important;
    text-align: left !important
}

.bs4-order-tracking li:last-child:before {
    margin-right: 5px !important;
    padding-right: 11px !important;
    text-align: right !important
}

.bs4-order-tracking li>div {
    color: hsl(0, 0%, 100%);
    width: 29px;
    text-align: center;
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: hsl(240, 0%, 53%);
    border-radius: 50%;
    margin: auto
}

.bs4-order-tracking li:after {
    content: '';
    width: 150%;
    height: 5px;
    background: hsl(240, 0%, 53%);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 12px;
    z-index: -1
}

.bs4-order-tracking li:first-child:after {
    left: 50%;
}

.bs4-order-tracking li:last-child:after {
    left: 0% !important;
    width: 50% !important;
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: #017aff
}

.bs4-order-tracking li.active>div {
    background: #017aff
}

.bs4-order-tracking li.active:after {
    background: #017aff;
}

.card-timeline {
    background-color: #fff;
    z-index: 0
}