<section class="container-fluid bg-dark text-light min-vh-100 pt-3 pb-5" id="habilidades">
    <h2 class="fs-1 text-center my-5 fw-bold">Habilidades</h2>
    <div class="text-center container">
        <circle-progress [percent]="75" [title]="'HTML'" class="m-2"></circle-progress>
        <circle-progress [percent]="75" [title]="'HTML'" class="m-2"></circle-progress>
        <circle-progress [percent]="75" [title]="'HTML'" class="m-2"></circle-progress>
        <circle-progress [percent]="75" [title]="'HTML'" class="m-2"></circle-progress>
        <circle-progress [percent]="75" [title]="'HTML'" class="m-2"></circle-progress>
    </div>
</section>