<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav fs-2">
        <li class="nav-item">
            <a href="https://www.instagram.com/nahuelito.ito/">
                <i class="fa-brands fa-instagram fa-sm mx-2"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.linkedin.com/in/jonathan-nahuel-ledesma-arce-11792612a/">
                <i class="fa-brands fa-linkedin fa-sm mx-2"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.behance.net/jnla">
                <i class="fa-brands fa-behance fa-sm mx-2"></i>
            </a>
        </li>
    </ul>
    <app-botonlogin></app-botonlogin>
</div>