<section class="container-fluid" id="sobre mi">
    <h2 class="fs-1 text-center mt-5 fw-bold">Sobre mi</h2>
    <div class="container-fluid text-center">
        <button type="button" class="btn btn-outline-info" routerLink="/editpersona/{{persona.id}}" *ngIf="isLogged">Editar persona</button>
      </div>
    <div class="container py-5">
        <div class="row container align-items-center p-0 m-0">
            <img src="{{persona.img}}"
                class="col-2 rounded mx-auto d-block fotoperfil p-0" alt="Mi Foto de Perfil">
            <div class="offset-1 col">
                <p>{{persona.sobremi}}</p>
            </div>
        </div>
    </div>
</section>