<section class="container-fluid" id="sobre mi">
    <h2 class="fs-1 text-center mt-5 fw-bold">Sobre mi</h2>
    <div class="container py-5">
        <div class="row align-items-center">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/005/544/718/small/profile-icon-design-free-vector.jpg"
                class="offset-2 col-2 " alt="Mi Foto de Perfil">
            <div class="offset-1 col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque voluptatem sapiente quos
                    mollitia quibusdam iste, consequuntur quasi sit distinctio sequi tempora hic, magnam, magni minima
                    ducimus
                    minus eaque id.</p>
            </div>
        </div>
    </div>
</section>